<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Elm Pixel Boulder Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div>
        <div id="editor-container">
            <div>
                <button id="level-001">Default level</button>
                <button id="level-image">Image level</button>
                <button id="level-pacman">Pac-Man level</button>
            </div>
            <div><textarea name="textarea-level" id="textarea-level" cols="80" rows="30"></textarea></div>
            <div><button id="submit-level">Play</button></div>
        </div>
        <br>
        <div id="game-container" style="display: none;">
            <div><button id="edit-level">Edit</button></div>
            <div id="elm"></div>
        </div>
    </div>
</body>
</html>