<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Elm Pixel Boulder Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome and Opera */
        }

        .control-container button {
            padding: 15px;
            margin: 10px;
        }                                                                                                                                                     </style>
</head>
<body>
    <div>
        <div id="editor-container">
            <div>
                Editor mode <label for="easy-editor-option">Easy</label> <input type="radio" id="easy-editor-option" name="editor-option" value="easy">,
                <label for="advanced-editor-option">Advanced</label> <input type="radio" id="advanced-editor-option" name="editor-option" value="advanced">
            </div>
            <div id="advanced-editor">
                <div>
                    <button id="level-pixel">Pixel</button>
                    <button id="level-nes-small">Nes Small</button>
                    <button id="level-nes">Nes</button>
                    <button id="level-image">Image</button>
                    <button id="level-pacman">Pac-Man</button>
                    <button id="level-tank">Tank</button>
                    <button id="level-game-of-life">GoL</button>
                </div>
                <div><textarea name="advanced-textarea-level" id="advanced-textarea-level" cols="80" rows="30"></textarea></div>
            </div>
            <div id="easy-editor">
                <textarea name="easy-textarea-level" id="easy-textarea-level" cols="80" rows="30"></textarea>
            </div>
            <div>
                <button id="submit-level">Play</button>
            </div>
        </div>
        <br>
        <div id="game-container" style="display: none;">
            <div id="edit-level-container">
                <button id="edit-level">Edit</button>
            </div>
            <div id="elm"></div>
            <div>
                <table class="control-container">
                    <tr>
                        <td></td>
                        <td><button id="button-ArrowUp">Up</button></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><button id="button-ArrowLeft">Left</button></td>
                        <td><button id="button-ArrowDown">Down</button></td>
                        <td><button id="button-ArrowRight">Right</button></td>
                    </tr>
                    <tr style="height: 20px;">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><button id="button-a">Submit</button></td>
                        <td><button id="button-s">Cancel</button></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><button id="button-z">Start</button></td>
                        <td><button id="button-x">Select</button></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
