<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pixel Boulder Game by Jordy Moos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome and Opera */
        }

    </style>
</head>
<body>
    <div id="elm">
    </div>
</body>
</html>
